[Unit]
Description=Nextcloud permanent user deleter
Documentation=https://github.com/adfinis-sygroup/nextcloud-user-deleter

[Service]
Type=oneshot
User=apache
Group=apache
Environment="NEXTCLOUD_ROOT=/var/www/html/nextcloud"
ExecStart=/usr/bin/nextcloud-user-deleter --nextcloud-root=${NEXTCLOUD_ROOT}

[Install]
WantedBy=multi-user.target
